* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

header {
  background-color: #48c5ce;
  text-align: center;
  color: white;
  padding: 10px;
}

.title {
  font-size: 1.5rem;
}

section {
  padding: 20px;
  background-image: url(../img/people.jpg);
  background-size: cover;
  overflow: hidden;
}
.form {
  max-width: 230px;
  background-color: #ffffffbb;
  padding: 20px;
  float: right;
}
h2 {
  font-size: 1rem;
}
.mb {
  margin-bottom: 15px;
}
input,
select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}
input[type="submit"] {
  color: white;
  background-color: #48c5ce;
  font-weight: bold;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../img/arrow.jpg);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

footer {
  background-color: #111;
  padding: 40px;
  text-align: center;
}
.picture {
  width: 160px;
}

.description {
  display: inline-block;
  text-align: left;
  color: white;
  max-width: 40ch;
  margin-left: 40px;
}
.description p,
.description h3 {
  margin-bottom: 20px;
}
.description h3 {
  font-size: 2rem;
}
