* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

header {
  background-color: #48c5ce;
  text-align: center;
  color: white;
  padding: 10px;
}

.title {
  font-size: 1.5rem;
}
